html{
    height:100%;
}

body {
    font-family: Helvetica;
    background-color: #aca2a2;
    margin: 0;
    padding: 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
    background-color: #000;
    text-align: center;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.productos {
    display: flex;
    justify-content: space-around;
}

.producto-img {
    width: 200px;
    height: auto;
}

table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;  
    
}

table, th, td {
    border: 2px solid #000000;
    text-align: center;
}

th, td {
    padding: 10px;
    background-color: #fff;
}

.remera{
    max-width: 170px;
}

.championes{
    max-width:  170px;
}

.pantalon{
    max-width:  170px;
}

.campera{
    max-width:  170px;
}

h1{
    text-align: center;
}

p{
    text-align: center;
}